.form {
    &--block {
        @include input-block();

        &.form--primary {
            @include input-block-color($e-m-primary);
        }
    }

    &--outline {
        &.form {
            &--light {
                input {
                    @include input-outline-color(transparent, $white)
                }
            }

            &--lg {
                input {
                    @include theme-border-spacing(lg);
                }
            }
        }

        input {
            @include input-outline();
        }
    }

    &--regular {
        input,
        textarea {
            @include input-regular();
        }

        .dropdown-toggle {
            @extend %text-start;
            @include input-regular();

            width: 100%;
            border: solid $input-border-width $input-border-color;


            ~ .dropdown-menu {
                width: 100%;
            }
        }
    }

    &--dropdown {
        @extend %position-relative;

        .dropdown {
            &-toggle {
                @extend %d-flex, %align-items-baseline;
                background-color: $white;

                &:after {
                    content: unset;
                }

                svg {
                    @extend %ms-auto;
                    @include make-transition(transform);
                }

                &[aria-expanded='true'] {
                    svg {
                        transform: rotate(180deg);
                    }
                }

                &--is-empty {
                    color: transparentize($black, .75);
                }
            }

            &-menu {
                &[x-placement="bottom-start"] {
                    top: -10px !important;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-top-width: 0;
                }

                &[x-placement="top-start"] {
                    bottom: -10px !important;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    border-bottom-width: 0;
                }
            }

            &-item {
                padding: 13px 24px;

                @include media-breakpoint-up(lg) {
                    @include make-transition(background-color color, .15s);

                    @include hover() {
                        background-color: $e-l-primary;
                        color: $e-primary;
                    }

                }

                @include focus-active() {
                    background-color: $e-l-primary;
                    color: $e-primary;
                }
            }
        }

    }
}

.form-check {
    &--regular {
        @extend %position-relative;

        padding-left: 0;

        &:before {
            @extend %position-absolute;

            top: 0;
            left: 0;

            content: '';
            display: block;
            width: 25px;
            height: 25px;
            border-radius: 8px;
            background-color: $black;
            pointer-events: none;
        }

        label {
            @extend %fs-10;

            cursor: pointer;
            padding-left: 40px;

            &:before,
            &:after {
                @extend %position-absolute;

                content: '';
                height: 2px;
                background-color: #fff;
                opacity: 0;
                pointer-events: none;

                @include make-transition(opacity);
            }

            &:before {
                width: 8px;
                left: 4px;
                top: 14px;
                transform: rotate(50deg);
            }

            &:after {
                width: 15px;
                left: 8px;
                top: 12px;
                transform: rotate(-40deg);
            }
        }

        input:checked {
            ~ label {
                &:before,
                &:after {
                    opacity: 1;
                }
            }
        }
    }
}