.section {
    &-alternate {
        @extend %position-relative;

        margin-top: 80px;
        margin-bottom: 80px;

        @include media-breakpoint-up(lg) {
            margin-top: 130px;
            margin-bottom: 130px;
        }

        .decorative {
            @extend %position-absolute;

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }

        .heart-line-wrapper {
            &:not(.decorative-second) {
                top: -130px;
                right: 0;
            }

            &.decorative-second {
                top: 64%;
                left: 0;
            }
        }
    }

    &-cards {
        @extend %position-relative;

        margin-top: 80px;
        margin-bottom: 80px;

        @include media-breakpoint-up(lg) {
            margin-top: 40px;
            margin-bottom: 100px;
        }

        .decorative {
            @extend %position-absolute;

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }

        .heart-line-wrapper {
            top: 0;
            left: 0;
        }

        .circle-line {
            right: 0;
            top: 10%;
        }
    }

    &-cards-list {
        @extend %position-relative;

        margin-top: 80px;
        margin-bottom: 80px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 100px;
        }

        .decorative {
            @extend %position-absolute;

            @include media-breakpoint-down(lg) {
                display: none;
            }

            right: -30px;
            bottom: 0;
        }
    }

    &-charts,
    &-payment,
    &-cards-image {
        margin-top: 80px;
        margin-bottom: 80px;

        @include media-breakpoint-up(lg) {
            margin-top: 100px;
            margin-bottom: 100px;
        }
    }

    &-charts,
    &-payment {
        padding-top: 40px;
        padding-bottom: 60px;
        background-color: $e-l-primary;

        &__cards,
        &__cards-detail {
            @include media-breakpoint-down(lg) {
                overflow-x: auto;
            }
        }

        &__columns {
            @include media-breakpoint-down(lg) {
                min-width: 50%;
            }
        }

        &__card {
            @extend %d-flex, %flex-column;
            height: 100%;

            .card {
                &__image {
                    @extend %d-block, %mx-auto, %position-relative;
                    z-index: 1;
                }

                &__description {
                    @extend %text-center;

                    flex-grow: 1;
                    background-color: $e-d-light;
                    border-radius: 30px;
                    margin-top: -70px;
                    padding: 100px 20px 10px;
                }

            }
        }

        &__cards-detail {
            border-radius: 30px;
            background-color: lighten($e-m-primary, 8);
            background-image: url("/images/how/bg-detail.png");
            background-repeat: repeat;
            background-size: 55%;
            background-blend-mode: color-burn;
            padding: 30px 10px;
        }

        &__card-detail {
            h2 {
                @extend %text-center;
            }

            img {
                @extend %d-block, %mx-auto;
            }

            .card-detail {
                &__detail {
                    @extend %text-center;

                    p:last-child {
                        @extend %mb-0;
                    }
                }
            }
        }
    }

    &-highlight {
        @extend %position-relative;

        padding-top: 20px;
        padding-bottom: 20px;
        //background-color: $e-primary;
        background-image: url("/images/bg-highlight.jpg");
        background-size: cover;
        background-position-x: 45%;
        background-repeat: no-repeat;
        //background: url("/images/bg-highlight.jpg"), $e-primary;
        color: $white;

        @include media-breakpoint-up(lg) {
            padding-top: 30px;
            padding-bottom: 30px;
            background-position-x: 30%;
        }

        &:after {
            @extend %position-absolute;

            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparentize($e-primary, .095);
            z-index: 1;
        }

        .container {
            @extend %position-relative;
            z-index: 5;
        }

        h2, p {
            filter: blur(3px);
        }

        h2 {
            @extend %ff-playfair, %fs-24, %mb-0, %mb-md-2;
        }

        p {
            @extend %fs-18;

            &:last-child {
                @extend %mb-0;
            }
        }

        &__items {
            img {
                @extend %d-none;
                //@include media-breakpoint-down(md) {
                //    display: none;
                //}
            }
        }
    }

    &-faqs {
        margin-top: 50px;

        @include media-breakpoint-up(lg) {
            margin-top: 40px;
        }

        &:not(:last-child) {
            margin-bottom: 50px;

            @include media-breakpoint-up(lg) {
                margin-bottom: 60px;
            }
        }

        &:last-child {
            margin-bottom: 100px;
        }
    }

    &-terms {
        margin-top: 40px;
        margin-bottom: 100px;
    }

    &-contact {
        padding-top: 70px;
        padding-bottom: 70px;
        background-color: $e-l-primary;
        background-image: url("/images/bg-heart.png");
        background-repeat: repeat;
        background-position: center;
    }
}

.chart {
    &-wrapper {
        @extend %position-relative;
        overflow-x: auto;

        canva {
            @extend %mx-auto;
        }
    }

    &-area-wrapper {
        @include media-breakpoint-down(md) {
            width: 800px;
        }
    }
}