body {
    @extend %base-typography;

    main {
        overflow-x: hidden;
    }
}

/*Link colour setting for site-wide*/
a {
    text-decoration: none;
    color: $e-primary;

    @include media-breakpoint-up(lg) {
        @include make-transition(color);
    }
}

a:hover {
    text-decoration: none;

    @include media-breakpoint-up(lg) {
        color: darken($e-l-primary, 15);
    }
}

a:focus {
    outline: 0 !important;
}
