@include make-font-sizes();
@include make-font-color();

%ff-inter {
    font-family: "Inter";
}

%ff-playfair {
    font-family: "Playfair Display";
    font-style: italic;
}

%base-typography {
    @extend %ff-inter;
}